//////////////ElEMENTS PRINCIPAUX/////////////////////

.site-branding {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}


#primary-menu{
background-color: #72735b ;
width: 100%;
height: 7.5vh;
a{
color: white;
margin:20px;
font-weight: bold;

}
}

.page-title{
   display: none;
}

.site-info{
    display: none;
}

.page-content{
    display: none;
}


.main-navigation {


    @include tablet {
        width: 100%;

        height: 15%;
    }

    @include desktop {
        width: 100%;

        height: 15%;
    }
}

