//////////////ElEMENTS PRINCIPAUX/////////////////////

.site-branding {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

}

.site-title{
    font-size: 25px;
    color: green;
}




.page-title{
   display: none;
}

.site-info{
    display: none;
}

.page-content{
    display: none;
}


.main-navigation {


    @include tablet {
        width: 100%;

        height: 15%;
    }

    @include desktop {
        width: 100%;

        height: 15%;

        
    }
}


.has-text-align-center .has-large-font-size{
    font-family: song of coronos;
    font-size: 50px;
}


.titreBanniere{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    display: flex;
    color: black;
    font-family: song of coronos;  
}

@include desktop{
    .titreBanniere1{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    color: black;
    font-family: song of coronos;  
   
}
}
@include tablet{
    .titreBanniere1{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 5%;
    display: flex;
    color: black;
    font-family: song of coronos;  
   
}
}

@include mobile{

.titreBanniere1{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 80%;
    display: flex;
    color: black;
    font-family: song of coronos;  
   
}
}
.titreBanniere2{
    font-size: 50px;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    display: flex;
    color: black;
    font-family: song of coronos;  
}




/*.wp-block-columns {
        -webkit-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .wp-block-columns:hover {
        -webkit-filter: blur(0);
        filter: blur(0);
    }*/
    
    .wp-block-columns.are-vertically-aligned-center.bloctopdown{
        -webkit-filter: blur(3px);
        filter: blur(3px);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .wp-block-columns.are-vertically-aligned-center.bloctopdown:hover{
        -webkit-filter: blur(0);
        filter: blur(0);
    }
    

    .has-text-align-center.txtAM.has-medium-font-size{
        opacity: 1;
        animation: animStitre 6s ease-in;
        
      
    }

   

    .wp-block-columns.blocAM
    {
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    }

  
  
    .wp-block-columns.blocAJ{
        justify-content: center;
     

    }

    .wp-block-cover.alignleft.ptblocAj{
        -webkit-box-shadow: 5px 5px 18px 5px #CBCBCB; 
        box-shadow: 5px 5px 18px 5px #CBCBCB;
    }

    .wp-block-cover.ptblocAj{
        -webkit-box-shadow: 5px 5px 18px 5px #CBCBCB; 
        box-shadow: 5px 5px 18px 5px #CBCBCB;

        p{
            opacity: 0;
        }
    }
    .wp-block-cover.ptblocAj:hover{
        -webkit-box-shadow: 5px 5px 18px 5px #CBCBCB; 
        box-shadow: 5px 5px 18px 5px #CBCBCB;

        p{
            opacity: 1;
        }
    }

    @include mobile{

    .wp-block-columns.blocAJ{
        justify-content: center;
        width: 88.2%;
        margin:0 auto;
       

    }
    .wp-block-cover.ptblocAj{
        -webkit-box-shadow: 5px 5px 18px 5px #CBCBCB; 
        box-shadow: 5px 5px 18px 5px #CBCBCB;
        margin-top: 6%;

        p{
            opacity: 0;
        }
    }

    .titreBanniere{
        font-size: 50px;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        margin-top: 5%;
        display: flex;
        color: black;
        font-family: song of coronos;  
    }
        
    }

    .has-text-align-center.txtInLd.has-white-color.has-text-color.has-large-font-size{
        opacity: 0;
    }

    .has-text-align-center.txtInLd.has-white-color.has-text-color.has-large-font-size:hover{
        opacity: 1;
    }


    

    @keyframes animStitre{
        0% {
  
            opacity: 0.3;
    
        }
    
        100% {
            opacity: 1;
          
        }
    }




  @include mobile{
    /*.wp-block-cover.banniereGameplay{
    display: none;
    }*/

    .wp-block-cover.banniereTdBp{
        display: none;
    }


 


}

.wp-block-cover.banniereGameplay{
margin-top: 2%;
}



#post-646{
margin:0 ;
}




.entry-content{
    
margin: 0;
}



.wp-block-cover.banniereDis{

    .conteneurs8{
        //display: flex;
       // justify-content: center;
      //  align-items: center;
      // position: static;
       // width: 17.5vw;
      //  height: 300px;
      //  width: 100%;

    background-size: cover;
    background-position: 50%;
    align-items: center;
    width: 100%;
    //height: 300px;
    justify-content: center;
    align-content: center;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    margin-left: 30px;
    background-color: white;
    p{
        grid-area: text;
        color: black;
        font-size: 30px;
        text-align: center;
    }

    .contenu{
        display: none;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 100%;
        border-radius: 20px;
        background-color: rgb(253, 250, 250);
        z-index: 10;
        overflow-y: auto;
        
        a{
            z-index: 100;
            position: absolute;
            top: 2%;
            right: 5%;
            font-size: 3em;
            text-decoration: none;
            border-radius: 20px;
            cursor: pointer;
            
        }

        &.displayed{
            display: block;
            padding: 10px;
            //width: 70%;
            height: 100%;
            
            span img{
                //position: absolute;
                height: 100%;
                width: auto;
                top: 50%;
                left: 50%;
                border-radius: 20px;
                transform: translate(-50%, -50%);
            }
            
            div{
                //display: grid;
                //height: 100%;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "title title"
                "image text";
                gap: 5%;
                
                h2{
                    text-align: center;
                    justify-self: center;
                    grid-area: title;
                    font-family:song of coronos;
                    font-size: 45px;
                }
                
                img{
                    grid-area: image;
                    width: 50%;
                }
                
                p{
                    grid-area: text;
                    color: black;
                    font-size: 30px;
                    text-align: center;

                    //position: absolute;
                    font-size: 18px;
                    bottom: 0;
                }

                figure{
                    grid-area: image;
                }
            }

        }
    }


    }
}


@include mobile{
   
#primary-menu{
    background-color: #72735b ;
    width: 100%;
    //height: 7.5vh;
    a{
    color: white;
    margin:20px;
    font-weight: bold;
    
    }
    }

}


@include desktop{
    #primary-menu{
        background-color: #72735b ;
        width: 100%;
        height: 7.5vh;
        a{
        color: white;
        margin:20px;
        font-weight: bold;
        
        }
        }
}

@include tablet{
    #primary-menu{
        background-color: #72735b ;
        width: 100%;
       // height: 7.5vh;
        a{
        color: white;
        margin:20px;
        font-weight: bold;
        
        }
        }
}



@include mobile{

      #blocF{
        text-align: center;
        }
    
        #blocF2{
    
        text-align: center;
        }
    }


    @include mobile{
        .site-footer{
            margin-top: 400px;
        }

        #banniere8 .wp-block-button__link{
            font-size: 20px;
        }



       
    }

    @include tablet{
        #banniere8 .wp-block-button__link{
            font-size: 20px;
        }
    }